BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignEscapedNewlines: Left
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: true
BreakBeforeBraces: Linux
BreakConstructorInitializers: BeforeComma
ColumnLimit: 100
IndentCaseLabels: true
IndentWidth: 4
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
SpacesBeforeTrailingComments: 2
Standard: c++17
TabWidth: 4
UseTab: AlignWithSpaces
