#!/usr/bin/make -f

DISTRIBUTION = $(shell sed -n "s/^VERSION_CODENAME=//p" /etc/os-release)
VERSION = 0.1.$(shell git rev-list HEAD --count)+git$(shell git rev-parse --short HEAD)
PACKAGEVERSION = ${VERSION}-0~${DISTRIBUTION}0

%:
	dh $@

override_dh_auto_clean:
	rm -rf builddir
override_dh_auto_test:
override_dh_auto_build:
	mkdir -p builddir
	cmake \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DCMAKE_CXX_FLAGS_DEBUG="-O2 -g" \
		-DCMAKE_C_FLAGS_DEBUG="-O2 -g" \
		-DRAPIDTOOLS=ON \
		-DPRD_TESTS=OFF \
		-G Ninja \
		-S ../../.. \
		-B builddir
	ninja -C builddir src/BuildGit src/AddZip src/Streamer
override_dh_auto_install:
	mkdir -p debian/rapidtools/usr/bin
	cp builddir/src/BuildGit debian/rapidtools/usr/bin/rapidtools-buildgit
	cp builddir/src/AddZip debian/rapidtools/usr/bin/rapidtools-addzip
	cp builddir/src/Streamer debian/rapidtools/usr/bin/rapidtools-streamer

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
